
#preview-updating {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.updating > #generate-preview {
    filter: blur(5px) !important;
}

#preview-updating {
    text-align: center;
    top:45%;
    left:30%;
    right:30%;
    visibility: hidden;
    background-color: white;
    min-width: fit-content;
    height: fit-content;
    padding-inline: 20px;
}

.updating > #preview-updating {
    visibility: visible !important;
}


#toast-templates {
    display: none;
}