{% extends "base.html" %}
{% block content %}
    <p>Generating a maze in the shape of: "<span>{{maze.Name}}</span>":</p>
    <div class="container">
        <div class="row " id="generator-columns">
            <form class="col-lg-4 col-sm-12" action="javascript:window.print()">
                {% set maze_start_size = 50 %}
                <label for="maze-size-slider">Size of the maze: <span id="maze-size-value">{{ maze_start_size }}</span></label><br>
                <input id="maze-size-slider" type="range" min="50" max="1000" value="{{ maze_start_size }}"
                       onchange="updatePreview(this);">
                <br><br>
                <label for="inlcude-solution-check">Include solution:</label>
                <input type="checkbox" id="inlcude-solution-check">
                <br><br>
                <input type="button" value="Print" onclick="window.print()">
            </form>
            <div class="col-lg-8 col-sm-12 position-relative" id="preview-container">
                <img id="generate-preview"
                     src="/generated_maze.png?maze_shape={{ maze.MazeID }}&maze_size={{ maze_start_size }}"
                     alt="">
                <div id="preview-updating">Updating...</div>
            </div>
        </div>
    </div>
    <script>
        function updatePreview(elem) {
            document.getElementById('maze-size-value').innerText = elem.value;
            let container = $('#preview-container');
            let preview_img = $('#generate-preview');
            let initial_src = preview_img.attr("src");
            let new_src = initial_src.replace(/maze_size=\d+($|\D)/, `maze_size=${elem.value}$1`);
            {#.replace(/seed=[\d.]*($|\D)/, `seed=${Math.random()}$1`)#}
            {#container.addClass('updating');#}
            preview_img.attr("src", new_src)
            {#    .on("load", function () {#}
            {#        container.removeClass('updating');#}
            {#    })#}

        }
    </script>

    <style>
        #generator-columns {
            height: 50vh;
        }

        @media print {
            * {
                visibility: hidden;
            }

            #generate-preview {
                visibility: visible;
                position: fixed;
                top: 0;
                width: 100%;
                height: 100%;
                left: 0;
                object-fit: contain;
            }
        }
    </style>
{% endblock %}