{% extends "base.html" %}
{% set this_page = "Generate" %}
{% block content %}
        <h1>Generate a Maze</h1>
        <p>Choose one of the shapes below to generate a maze</p>
        <div class="container-fluid">
            <div class="row row-cols-auto">
                {% for maze in mazes %}
                    <a href="{{ url_for("generate_ui") }}?maze_shape={{maze.MazeID}}" class="col maze-list-item btn btn-light">
                        <img src="/static/mazes/maze_{{maze.MazeID}}.png" draggable="false">
                        <div>{{maze.Name}}</div>
                    </a>
                {% endfor %}
            </div>
        </div>
{% endblock %}
