    {% for category, message in messages %}
        {% if category == 'success' %}
            <div class="toast toast-success text-bg-success" role="alert">
                <span class="toast-body toast-message">
                    {{ message }}
                </span>
                <button type="button" class="btn-close" data-bs-dismiss="toast"></button>
            </div>
            {% elif category == 'error' %}
            <div class="toast text-bg-danger toast-error" role="alert">
                <span class="toast-body toast-message">
                    {{ message }}
                </span>
                <button type="button" class="btn-close" data-bs-dismiss="toast"></button>
            </div>
            {% else %}
            <div class="toast text-bg-primary" role="alert">
                <span class="toast-body toast-message">
                    {{ message }}
                </span>
                <button type="button" class="btn-close" data-bs-dismiss="toast"></button>
            </div>
        {% endif %}
    {% endfor %}