{% extends 'base.html' %}

{% block title %} Upload {% endblock %}
{% block content %}
    <h1>Create a maze shape</h1>
    <p>
        Maze shapes in this project are stored as png files, with black pixels in
        the shape of the maze.
    </p>
    <p>To create your own maze shape, use image editing software that is able to export to PNG and create an image that
    follows the rules explained below.</p>
    <ul>
        <li>
            The image you upload must only contain black (<span style="background:#000000;color:white">#000000</span>)
            and
            white (<span style="background:#FFFFFF; color: black">#FFFFFF</span>) pixels, any other colours are not
            allowed (no shades of grey e.g. <span style="background: #010101; color: white">#010101</span>).
        </li>
        <li>
            The black pixels (indicating the shape of the maze) should all be part of one connected section: there
            should be no completely disconnected areas.
        </li>
        <li>Please upload the image as a PNG file. Other formats such as JPEG will have lossy compression which will cause errors.</li>
        <li>The file must be no larger than 20KB in size.</li>
        <li>
            <i>Optional: </i>you can add magenta (<span style="background: #FF00FF">#FF00FF</span>) and aqua
            (<span style="background: #00FFFF">#00FFFF</span>) pixels to the border of the image to indicate where the
            entrance and exit should go. The program will then put an entrance/exit on that side of the maze.
        </li>
    </ul><br>
    <div class="col-4">
        <form method="POST" enctype="multipart/form-data">
            <input autocomplete="off" name="name" type="text" id="name" placeholder="Maze Name" required>
            <label for="public_checkbox">Public: </label>
            <input id="public_checkbox" name="public" type="checkbox"><br><br>
            <input id="file_input" type="file" name="file" accept=".png" required>
            <img id="file_preview" src="" alt="">
            <input id="upload_button" type="submit" value="Upload" disabled>
        </form>
    </div>

    <script>
        $("#file_input").on("input", () => {
            let files = $("#file_input").prop("files");
            let new_src = '';
            if (files.length !== 0) {
                new_src = URL.createObjectURL(files[0]);
                $("#upload_button").removeAttr("disabled");
            } else {
                $("#upload_button").attr("disabled", "");
            }
            $("#file_preview").attr("src", new_src);
        })
    </script>
{% endblock %}

{% block head %}
    <style>
        #file_preview {
            max-width: 100%;
        }
    </style>
{% endblock %}